{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block sidenav %}
    {% for page in page_list %}
    <li>
        <a href="{{ page.permalink }}">{{ page.title }}</a>
       <div id="page"><img src="{{ page.thumb.url }}" width="150" height="70"/></div>
    </li>
    {% endfor %}
    
{% endblock sidenav %}


{% block content %}
{% autoescape off %}
{{ content }}
{% endautoescape %}

<p>
    Page last updated: {{ last_updated|date:'D d F Y'}}
</p>
{% endblock content %}